<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/full.css') }}" rel="stylesheet">
    {% endblock %}
</head>

<body>
{% block body %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Klaas Brands</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#aboutme">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portofolio">Portofolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="home"></div>
<header class="masthead text-center text-white d-flex">
    {% for flash_message in app.session.flashbag.get('notice') %}
        {{ flash_message }}
    {% endfor %}
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    Klaas Brands
                </h1>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">Welcome to my portofolio, feel free to look around!</p>
                <a class="btn btn-outline-primary btn-x1" href="#aboutme">About me!</a>
            </div>
        </div>
    </div>
</header>


<!-- Page Content -->
<div class="sticky-container">
    <ul class="sticky">
        <li>
            <img src="../images/discord.png" width="32" height="32">
            <p><a href="#" target="_blank">Add me on<br>Discord</a></p>
        </li>
        <li>
            <img src="../images/github.png" width="32" height="32">
            <p><a href="#" target="_blank">Check out my<br>Github</a></p>
        </li>
        <li>
            <img src="../images/call.png" width="32" height="32">
            <p><a href="#" target="_blank">Call me on<br>0614267937</a></p>
        </li>
    </ul>
</div>
<div class="content">
    <div class="aboutme" id="aboutme">
        <div class="boxpadding">
            <h1>About me</h1>
            <i>My name is Klaas Brands. I'm 18 years old and currently following education to become a software/web developer.</i>
            <img src="../images/icon.png" class="aboutme_icon">
        </div>
    </div>
    <div class="portofolio" id="portofolio">
        <div class="boxpadding">
            <h1>Some of my work</h1>
            <br>
            <div class="showcase row">
                <div class="card" style="width:250px">
                    <img class="card-img-top" src="../images/background2.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">project1</h4>
                        <p class="card-text">project1</p>
                        <a href="#" class="btn btn-primary">View</a>
                    </div>
                </div>
                <div class="card" style="width:250px">
                    <img class="card-img-top" src="../images/background3.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">project2</h4>
                        <p class="card-text">project2</p>
                        <a href="#" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact" id="contact">
        <div class="boxpadding">
            <h1>Contact me</h1>
            <b><i>You can always leave a message by filling in this form!</i></b>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <footer>
        <div class="boxpadding">
            <i>© Klaas Brands</i>
        </div>
    </footer>
</div>
{% endblock %}
<!-- Bootstrap core JavaScript -->
{% block javascripts %}
<script src="{{ asset('jquery/jquery.min.js') }}"></script>
<script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('js/smoothscroll.js') }}"></script>
{% endblock %}
</body>

</html>

