<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset('css/full.css') }}" rel="stylesheet">
    {% endblock %}

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Klaas Brands - Messages</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        </div>
    </div>
</nav>
<div class="contact_list">
    <h1>Messages:</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>E-mail</th>
            <th>Full Name</th>
            <th>Message</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {%  for message in messages %}
        <tr>
            <th scope="row">{{ message.id }}</th>
            <td>{{ message.email }}</td>
            <td>{{ message.name }}</td>
            <td>{{ message.message }}</td>
            <td><a href="/contact/delete/{{ message.id }}">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>